body{
  background-color: rgb(76, 78, 215);
  color:white;
  border:5px solid black;
  border-radius:5px;
}

.Join{
  
  margin:10%;
  
}


button{
  color:black;
  background-color: rgb(255, 255, 255);
  border: 5px black;
  border-radius: 5px;
}